.theme-default,
.theme-bizcocho {
  --color-dark-cookie: #935614;
  --color-light-cookie: #dbb37e;
  --color-cream: #fffdd0;
  --color-glace: #ecece8;
  --color-chocolate: #9a5327;
  --color-dark-chocolate: #4e1703;
  --color-darkest-chocolate: #0f1720;

  --color-header-background: var(--color-dark-cookie);
  --color-header-title: var(--color-light-cookie);
  --color-header-link: var(--color-light-cookie);
  --color-toolbar-background: var(--color-light-cookie);
  --color-main-background: var(--color-glace);
  --color-main-text: var(--color-darkest-chocolate);
  --color-sidebar-background: var(--color-light-cookie);
  --color-sidebar-heading: var(--color-dark-cookie);
  --color-sidebar-link: var(--color-dark-chocolate);
  --color-breadcrumb-background: var(--color-dark-cookie);
  --color-breadcrumb-link: var(--color-light-cookie);
  --color-detail-background: var(--color-light-cookie);
  --color-detail-title: var(--color-dark-cookie);
  --color-detail-logs-background: var(--color-cream);
  --color-detail-manifest-background: var(--color-cream);
  --color-detail-data-background: var(--color-cream);
  --color-detail-data-hightlight-background: var(--color-chocolate);
  --color-detail-data-hightlight-text: var(--color-cream);
  --color-resource-table-header-background: var(--color-light-cookie);
  --color-resource-table-highlight-background: var(--color-cream);
  --color-resource-table-highlight-text: unset;
  --color-modal-background: var(--color-glace);
  --color-modal-border: var(--color-chocolate);
  --color-box-shadow: var(--color-dark-cookie);
  --color-outline: var(--color-dark-cookie);
}

.theme-kubernetes {
  --color-dark: #000000;
  --color-gray: #dddddd;
  --color-gray-lighter: #f6f8fa;
  --color-blue: #326ce5;
  --color-light: #ffffff;

  --color-header-background: var(--color-blue);
  --color-header-title: var(--color-light);
  --color-header-link: var(--color-light);
  --color-toolbar-background: var(--color-gray);
  --color-main-background: var(--color-light);
  --color-main-text: var(--color-dark);
  --color-sidebar-background: var(--color-gray);
  --color-sidebar-heading: var(--color-blue);
  --color-sidebar-link: var(--color-dark);
  --color-breadcrumb-background: var(--color-blue);
  --color-breadcrumb-link: var(--color-light);
  --color-detail-background: var(--color-gray);
  --color-detail-title: var(--color-blue);
  --color-detail-logs-background: var(--color-gray-lighter);
  --color-detail-manifest-background: var(--color-gray-lighter);
  --color-detail-data-background: var(--color-gray-lighter);
  --color-detail-data-hightlight-background: var(--color-blue);
  --color-detail-data-hightlight-text: var(--color-light);
  --color-resource-table-header-background: var(--color-blue);
  --color-resource-table-header-text: var(--color-light);
  --color-resource-table-highlight-background: var(--color-gray-lighter);
  --color-resource-table-highlight-text: unset;
  --color-modal-background: var(--color-light);
  --color-modal-border: var(--color-dark);
  --color-box-shadow: var(--color-dark);
  --color-outline: var(--color-blue);
}

.theme-cli {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-font: #5ff025;

  --color-header-background: var(--color-dark);
  --color-header-title: var(--color-font);
  --color-header-link: var(--color-font);
  --color-toolbar-background: var(--color-dark);
  --color-main-background: var(--color-dark);
  --color-main-text: var(--color-font);
  --color-sidebar-background: var(--color-dark);
  --color-sidebar-heading: var(--color-font);
  --color-sidebar-link: var(--color-font);
  --color-breadcrumb-background: var(--color-dark);
  --color-breadcrumb-link: var(--color-font);
  --color-detail-background: var(--color-dark);
  --color-detail-title: var(--color-font);
  --color-detail-logs-background: var(--color-dark);
  --color-detail-manifest-background: var(--color-dark);
  --color-detail-data-background: var(--color-dark);
  --color-detail-data-hightlight-background: var(--color-font);
  --color-detail-data-hightlight-text: var(--color-dark);
  --color-resource-table-header-background: var(--color-font);
  --color-resource-table-header-text: var(--color-dark);
  --color-resource-table-highlight-background: var(--color-font);
  --color-resource-table-highlight-text: var(--color-dark);
  --color-modal-background: var(--color-dark);
  --color-modal-border: var(--color-font);
  --color-box-shadow: var(--color-font);
  --color-outline: var(--color-font);
}

.theme-plain {
  --color-dark: #000000;
  --color-gray: #dddddd;
  --color-light: #ffffff;

  --color-header-background: unset;
  --color-header-title: unset;
  --color-header-link: unset;
  --color-toolbar-background: unset;
  --color-main-background: unset;
  --color-main-text: unset;
  --color-sidebar-background: unset;
  --color-sidebar-heading: unset;
  --color-sidebar-link: unset;
  --color-breadcrumb-background: unset;
  --color-breadcrumb-link: unset;
  --color-detail-background: var(--color-light);
  --color-detail-title: unset;
  --color-detail-logs-background: unset;
  --color-detail-manifest-background: unset;
  --color-detail-data-background: unset;
  --color-detail-data-hightlight-background: var(--color-gray);
  --color-detail-data-hightlight-text: unset;
  --color-resource-table-header-background: var(--color-light);
  --color-resource-table-header-text: unset;
  --color-resource-table-highlight-background: var(--color-gray);
  --color-resource-table-highlight-text: unset;
  --color-modal-background: var(--color-light);
  --color-modal-border: var(--color-dark);
  --color-box-shadow: var(--color-gray);
  --color-outline: var(--color-gray);

  a {
    color: revert !important;
    text-decoration: underline;
  }
}

.theme-plain--dark {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-link: #ff7300;

  --color-header-background: unset;
  --color-header-title: var(--color-link);
  --color-header-link: var(--color-link);
  --color-toolbar-background: unset;
  --color-main-background: var(--color-dark);
  --color-main-text: var(--color-light);
  --color-sidebar-background: unset;
  --color-sidebar-heading: unset;
  --color-sidebar-link: var(--color-link);
  --color-breadcrumb-background: unset;
  --color-breadcrumb-link: var(--color-link);
  --color-detail-background: var(--color-dark);
  --color-detail-title: var(--color-link);
  --color-detail-logs-background: var(--color-dark);
  --color-detail-manifest-background: var(--color-dark);
  --color-detail-data-background: var(--color-dark);
  --color-detail-data-hightlight-background: var(--color-link);
  --color-detail-data-hightlight-text: var(--color-dark);
  --color-resource-table-header-background: var(--color-link);
  --color-resource-table-header-text: var(--color-dark);
  --color-resource-table-highlight-background: var(--color-link);
  --color-resource-table-highlight-text: var(--color-dark);
  --color-modal-background: var(--color-dark);
  --color-modal-border: var(--color-light);
  --color-box-shadow: var(--color-link);
  --color-outline: var(--color-link);

  a {
    color: var(--color-link);
    text-decoration: underline;
  }
}
